<%= javascript_include_tag 'payment' %>

<script type="text/javascript">
$(function() {
  $('#based_on').datepicker({
      todayBtn: "linked",
      todayHighlight: true
  });
})
</script>

<h2>
  口座別資金繰残高Simulator
  <% if @last_updated_at -%>
  <div class="pull-right">
    <small>
      最終実行時刻: <%= l(@last_updated_at) %>
    </small>
  </div>
  <% end -%>
</h2>
<div class="row">
  <div class="col-lg-offset-5 col-lg-5 well">
    起算日 <%= text_field_tag 'based_on', @based_on && l(@based_on), id: 'based_on', placeholder: "yyyy/mm/dd" %>
    <div class="pull-right">
      推定日 <%= text_field_tag 'estimated_on', @estimated_on && l(@estimated_on), placeholder: "yyyy/mm/dd", 'data-provide' => "datepicker" %>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="pull-right">
      <%= submit_tag '実行', class: 'btn btn-primary' %>
      <%= link_to 'PDF', pdf_casein_bank_account_balances_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link MyAccount.human_attribute_name(:org_name), :org_name, casein_bank_account_balances_path %></th>
      <th><%= sort_link BankAccountBalance.human_attribute_name(:my_account_id), :bank_long_name, casein_bank_account_balances_path %></th>
      <% %i(current_amount estimated_on current_month_amount two_month_amount three_month_amount).each do |attr_name| -%>
        <th><%= BankAccountBalance.human_attribute_name(attr_name) %></th>
      <% end -%>
    </tr>
  </thead>

  <% @bank_account_balances.each do |bank_account_balance| %>
    <tr>
      <%= hidden_field_tag 'bank_account_balances[][my_account_id]', bank_account_balance.my_account_id %>
      <td>
        <span class="casein-like">
          <%= bank_account_balance.my_account&.org_name %>
        </span>
      </td>
      <td>
        <span class="casein-like">
          <%= bank_account_balance.my_account&.bank_long_label %>
        </span>
      </td>
      <td>
        <div class="casein-like">
          <%= text_field_tag 'bank_account_balances[][current_amount]', bank_account_balance.current_amount, class: 'money' %>
        </div>
      </td>
      <td>
        <span class="casein-like">
          <%= number_with_delimiter bank_account_balance.estimate_date_amount %>
        </span>
      </td>
      <td>
        <span class="casein-like">
          <%= number_with_delimiter bank_account_balance.current_month_amount %>
        </span>
      </td>
      <td>
        <span class="casein-like">
          <%= number_with_delimiter bank_account_balance.two_month_amount %>
        </span>
      </td>
      <td>
        <span class="casein-like">
          <%= number_with_delimiter bank_account_balance.three_month_amount %>
        </span>
      </td>
    </tr>
  <% end %>
  <tfoot>
    <tr class="warning">
      <td colspan="2">
        <span class="casein-like">
          <strong>合計</strong>
        </span>
      </td>
      <% %i(current_amount estimate_date_amount current_month_amount two_month_amount three_month_amount).each do |attr_name| -%>
        <td>
          <span class="casein-like">
            <%= number_with_delimiter @bank_account_balances.map(&attr_name).compact.sum %>
          </span>
        </td>
      <% end -%>
    </tr>
  </tfoot>
</table>
