<%= javascript_include_tag 'payment' %>
<%= javascript_include_tag 'views/bank_transfer_form' %>

<h2>資金移動</h2>

<%= form_for @bank_transfer, url: casein_bank_transfers_path do |f| %>

  <%= render 'form', f: f %> 

  <p class="submits">
    <%= link_to t('helpers.button.cancel'), new_casein_bank_transfer_path, :class => 'btn btn-mini btn-danger' %>
    <%= submit_tag t('helpers.submit.create'), :class => "btn btn-mini btn-primary" %>
  </p>

<% end %>
