<div class="nested-fields">
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group">
        <%= f.label :item_id, class: 'control-label'%>
        <div class="well">
          <%= f.collection_select :item_id, Item.not_deleted, :id, :name, {}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :amount, class: 'control-label' %>
        <div class="well">
          <%= f.text_field :amount, class: 'form-control money' %>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <%= casein_select_i18n f, :tax_type, PaymentPart.tax_type.options, include_blank: true %>
    </div>
    <div class="col-lg-1">
      <div style="height: 99px">
        <br/>
        <br/>
        <%= link_to_remove_association '削除', f, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11">
      <div class="form-group">
        <%= f.label :comment, class: 'control-label' %>
        <div class="well">
          <%= f.text_area :comment, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>
